body{
    font-family: Courier, monospace;
}

.vis-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 4rem;
}

#vis-title{
    padding: 1rem;
}

#vis-nodes{
    width: 100%;
}

.vis-node{
    background-color: lightskyblue;
    width: 300px;
    margin: 1rem;
    height: 20px;
}

